---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Link } from "../components/Link.tsx";
import { ArrowRight } from "../components/icons/arr-right.tsx";
import { getCollection } from "astro:content";

const projects = await getCollection('projects');
---

<BaseLayout pageTitle="Projects">
	<main class="mt-16 mx-auto max-w-6xl pb-6 px-5 md:px-0">
		<h1 class="text-4xl font-bold capitalize md:text-5xl font-title">
			Projects<span class="text-accent">.</span>
		</h1>

		<p class="mt-4 font-normal text-secondary-light max-w-lg">
			I enjoy building projects, but often lack ideas - because everything has already been done.
			Suggest yours, and maybe one day it will appear here. All my projects, personal and not so much, are
			<Link className="underline" href="https://github.com/rogeonee" override={true}>
			  available on GitHub.
			</Link>
		</p>

		<ul class="grid grid-cols-1 sm:grid-cols-2 gap-6 mt-10">
			{projects.map((project) => {
				return (
					<li class="p-4 rounded-lg bg-white/10 ring-2 ring-accent hover:ring-offset-2 transition group">
						<a href={`/projects/${project.slug}`} rel="noreferrer" target="_blank">
							<figure class="mb-5">
								<img
									width={400}
									height={250}
									alt={project.data.title}
									draggable={false}
									class="rounded shadow-md w-full md:h-80 object-cover"
									src={project.data.coverImage}
								/>
							</figure>

							<header class="flex items-baseline justify-between mb-6">
								<h3 class="font-semibold font-poppins text-xl transition-colors border-accent/10 group-hover:border-b-accent border-b-2 max-w-fit">
									{project.data.title}
								</h3>

								<Link
									href={`/projects/${project.slug}`}
									className="scale-75 group-hover:scale-100 group-hover:-rotate-45 group-hover:border-accent"
									intent="secondary"
									size="square"
									aria-label={`Link to ${project.data.title}`}
								>
									<ArrowRight />
								</Link>
							</header>

							<p class="text-base text-gray-dark max-w-xl font-inter font-normal">
								{project.data.description}
							</p>
						</a>
					</li>
				)
			})}
		</ul>
	</main>
</BaseLayout>
